:root {
    --white: #fff;
    --black: #222;
    --pink: #f60091;
    --grey: #444;
    --grey2: #959595;
    --grey-alt: #d1e2e9;
    --yellow: #ffd800;
    --green: #59b210;
}

* {
    padding: 0;
    margin: 0;
    font-family: "open sans", sans-serif;
    position: fixed;
    background-color: var(--black);
    color: var(--grey-alt);
}

h1 {
    color: var(--yellow);
    font-size: 70px;
    top: 5%;
    padding: 25px 15px;
}

p {
    color: var(--grey-alt);
    font-size: 30px;
    top: 20%;
    background-color: rgba(68, 68, 68, 0);
    flex-wrap: wrap;
}

.content p {
    top: 90%;
    font-size: 20px;
}

.about-section {
    background-color: var(--grey);
    border: solid 3px black;
    width: 100%;
    padding: 100px;
}

.inner-container {
    width: 30%;
    height: fit-content;
    background-color: var(--yellow);
    padding: 100px;
}